.input__container {
  position: relative;
}

.input__icon {
  height: 18px;
  left: 16px;
  position: absolute;
  top: 18px;
}

.input {
  background-color: var(--very-light-grayish-cyan);
  border-radius: 5px;
  border: 3px solid transparent;
  color: var(--very-dark-cyan);
  font-size: var(--normal-font-size);
  font-weight: 700;
  padding: .5rem 2rem;
  text-align: end;
  transition: all .4s;
  width: 100%;
}

.input:focus {
  border: 3px solid var(--strong-cyan);
}